.page {
  max-width: 1280px;
  min-width: 1180px;
  font-family: Geometria,sans-serif;
}

.form__item {
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #A3A2A2;
}

.block__title {
  font-family: Geometria,sans-serif;
  font-size: 16px;
  color: #231F20
}

.form__item_el_town {
  width: 830px;
}

.form__item_el_street {
  width: 450px;
}

.form__item_el_home-number {
  width: 100px;
}

.form__item_el_street_corpus {
  width: 150px;
}

.form__item_el_room {
  width: 200px;
}

.form__item_el_tel {
  width: 300px;
}

.form__input_container-first {
  border: none;
}

.form__input_container-second {
  border: none;
}

.form__input_container-third {
  border: none;
}

.form__input_container-fourth {
  border: none;
}

.form__input_container-fifth {
  border: none;
}

.form__input_container-sixth {
  border: none;
}
