.form__pseudo-card {
  display: block;
  width: 172px;
  height: 109px;
  margin: 0;
  padding: 0;
  background-size: cover;
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 13px;
}
